@keyframes slideFromBelow {
    0%{
        transform: translateY(10%);
        opacity: 0;
    }

    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

.bloquesCabeceraReactiva{
    border-style: solid; 
    border-width: 3px; 
    padding: 0% 5%;
    color: #f2f5fa;
    background-color: #008fe7;
    animation: 1s ease-out 0s 1 slideFromBelow;
}

.overflowDots{
    
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media only screen and (min-width: 750px) {
    .bloquesCabeceraReactiva{
        border-style: solid; 
        border-width: 3px; 
        padding: 0% 5%;
        color: #f2f5fa;
        background-color: #008fe7;
        animation: 1s ease-out 0s 1 slideFromBelow;
        width: 306px;
    }
    .overflowDots{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
}

.bloquesMobile{
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.blueBackground{
    background-color: #1e283c;
}

.bloqueEscondido{
  /*  border-style: solid; 
    border-width: 3px; 
    padding: 0% 5%;
    color: #1e283c;*/
    display: none;
}

.heavyWeight{
    font-weight: 700;
    font-size: 26px;
}

.planButton{

    width: 34%;
    height: 16%;
    margin: 6px;
}

.inputCotizador{

    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    margin: 13px 0px;

}

.optionLabel{
    height: 58px;
    width: 100%;
    border: 3px solid #58709d;
    padding: 8px 42px;
    line-height: 3.5rem;
    font-weight: 800;
    border-radius: 25px;
    white-space: nowrap;
}

.optionLabelSelected{
    height: 58px;
    width: 100%;
    border: 3px solid #ffffff;
    color: #ffffff;
    padding: 8px 42px;
    line-height: 3.5rem;
    font-weight: 800;
    border-radius: 25px;
    background-color: #faa520;
    white-space: nowrap;
}

.center-content{
    text-align: center;
}

label{
    /*margin: 0px 40px;*/
    margin-bottom: .5rem;
}

.orange{

    color: #faa520;
}

.white{
    color: #ECEDED;
}

.mainCarousel{
    height: 33rem;

} 

.carousel-caption {
    top: 30%;
    bottom: auto;
}

.option-Image{
    margin-left: 15%;
}

.voucher-select{
    width: 100%;
    height: 60px;
    padding: 17px 0px;
    margin-left: 1px;
    color: #677294;
    border-width: 0px;
}


